<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <h3>Add New Division</h3>

      <form action="/create_division" method="post">
        <div class="form-group">
          <label for="description" class="form-label">Assign a description to your division:</label>
          <input type="text" name="description" class"form-control" id="description" autofocus>
          <button type="submit" class="button btn">Create Division</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <% if @divisions.any?() %>
      <h3>Here are your divisions:</h3>

      <ul>
        <% @divisions.each() do |division| %>
          <li><a href="/division/<%= division.id() %>"><%= division.description() %></a> </li>
        <% end %>
      </ul>

    <% else %>

        <p>There are no divisions yet!</p>

    <% end %>
    </div>
  </div>
</div>
